<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/app.css" type="text/css" />
  <link rel="stylesheet" href="/css/style2.css" type="text/css" />
  <title>Dashboard | <%= appname %></title>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="/"><img class="logo-brand mr-4" src="/images/favicon-96x96.png" alt=""> <%= appname %></a>
  </nav>
  
	<main class="main">
		<aside class="sidenav">
      <ul class="nav">
        <li class="nav-item">
          <a href="/" class="nav-link"><i class="fa fa-dashboard mr-2" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="/accounts" class="nav-link"><i class="fa fa-id-badge mr-2" aria-hidden="true"></i> Accounts</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/new" class="nav-link"><i class="fa fa-plus-circle mr-2" aria-hidden="true"></i> Add New Account</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/deposit" class="nav-link"><i class="fa fa-money mr-2" aria-hidden="true"></i> Deposit Funds</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/withdrawal" class="nav-link"><i class="fa fa-money mr-2" aria-hidden="true"></i> Withdraw Funds</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/transactions/deposits" class="nav-link"><i class="fa fa-venus mr-2" aria-hidden="true"></i> View Deposits</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/transactions/withdrawals" class="nav-link"><i class="fa fa-venus-double mr-2" aria-hidden="true"></i> View Withdrawals</a>
        </li>
        <% /* %>
        <li class="nav-item">
          <a href="/accounts/feedbacks" class="nav-link"><i class="fa microphone mr-2" aria-hidden="true"></i> Feedback</a>
        </li>
        <li class="nav-item">
          <a href="/accounts/notifications" class="nav-link"><i class="fa microphone mr-2" aria-hidden="true"></i> Send Notifications</a>
        </li>
        <% */ %>
        <li class="nav-item">
          <a href="/customers" class="nav-link"><i class="fa fa-id-badge mr-2" aria-hidden="true"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a href="/users" class="nav-link"><i class="fa fa-users mr-2" aria-hidden="true"></i> Users</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i> Logout</a>
        </li>
      </ul>
    </aside>

    <section class="main-section">
      <div class="container-fluid">