<%- include ('partials/ctop') %>
<div class="row">
  <div class="col-12">
    <h4>Send Feedbacks</h4>
  </div>

  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">

  </div>

  <div>
    <h4><%= bank_name %></h4>
  </div>
</div>
<%- include ('partials/bottom') %>